<p>
    Change the mouse cursor icon
    <br/>
    <a href="http://lmgtfy.com/?q=css+cursor&l=1" target="_blank">View in W3Schools</a>
    <br/>
    <br/>
    Common Usage:
    <pre>
cursor: default;
cursor: pointer;
cursor: not-allowed;
cursor: wait;
cursor: help;
</pre>
</p>
<style>
   .element {
       width: 100px;
       height: 50px;
       display: block;
    }
    
    .sample.element-1 {
        cursor: pointer;
    }
    .sample.element-2 {
        cursor: wait;
    }
    .sample.element-3 {
        cursor: help;
    }
    .sample.element-4 {
        cursor: not-allowed;
    }
    
</style>
