<br/>
<div class="container">
    <div class="jumbotron">
    <h1>Let's Practice Some jQuery!</h1>
    <p>It's actually fun :)</p>
    <p><a class="btn btn-primary btn-lg" href="/page/welcome" role="button">Start Now</a></p>
    </div>    
</div>