html,
body,
.box,
.full-height {
    height: 100%;
}
.half-height {
    height: 50%;
}

.page-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
    width: 100%;
    height: ~"calc(100% - 10px)";
    margin: 5px 0;
    box-sizing: border-box;
    position: relative;
}

.element-1 {
    background: lightseagreen;        
}
.element-2 {
    background: lightblue;        
}
.element-3 {
    background: lightcoral;        
}
.element-4 {
    background: lightyellow;        
}
    
