<p>
    The box model is how you place spaces inside and outside of the element<br/>
    Notice: to keep proportions use box-sizing
    <br/>
    <a href="http://lmgtfy.com/?q=css+box-model&l=1" target="_blank">View in W3Schools</a>
    <br/>
    <br/>
    Common Usage:
    <pre>
box-sizing: border-box;
padding: 10px;
margin: 40px;
margin: 0 auto;
padding-left: 50px;
margin-top: 20px;
margin-left: 50%;
margin-top: -20px;
</pre>
</p>
<style>
   .element {
       display: block;
    }
    
    .sample.element-1 {
        padding: 20px;
        margin: 0;
    }
    .sample.element-2 {
        padding: 0;
        margin-left: 50%;
    }
    .sample.element-3 {
        padding: 20px;
        margin-left: -20px;
    }
    .sample.element-4 {
        padding-top: 20px;
        margin: 20px auto;
    }
    
</style>
