<p>
    Assign a behaviour to the click event on an element
    <br/>
    <a href="http://lmgtfy.com/?q=jquery+click&l=1" target="_blank">View in W3Schools</a>
    <br/>
    <br/>
    Common Usage:
    <pre>
$('.some-elem').click(function() {
  $(this).doSomething;
});
alert("any string");
</pre>
<br/>
<label for="show-answer">(show/hide answer)</label>
<input id="show-answer" type="checkbox"/>
<pre>
var selector = ".page-container-practice .thumbnail";
$(selector).click(function() {
  alert('Hey! Don`t touch me!');
});
</pre>

</p>
<script>
  $(function() {
    var selector = ".page-container-sample .thumbnail";
    $(selector).click(function() {
      alert('Hey! Don`t touch me!');
    });
  });
</script>
