<p>
    Colors are used to choose the color of the text inside the element or the element background
    <br/>
    <a href="http://lmgtfy.com/?q=css+colors&l=1" target="_blank">View in W3Schools</a>
    <br/>
    <a href="http://lmgtfy.com/?q=online+color+picker" target="_blank">Online color Picker</a>
    <br/>
    <a href="http://lmgtfy.com/?q=color+schemes+generator" target="_blank">Color schemes generator</a>
    <br/>
    <br/>
    Common Usage:
    <pre>
color: red;
background-color: red;
color: colorName;
color: #rrggbb;
color: rgb(0, 255, 255);
color: rgba(0, 0, 0, 0.5);
color: transparent;
</pre>
</p>
<style>
   .element {

       padding: 10px;
       display: block;
    }
    
    .sample.element-1 {
        background-color: #ffffff;
        color: #ff0000;
    }
    .sample.element-2 {
        background-color: #333333;
        color: #fefefe;
    }
    .sample.element-3 {
        background-color: rgba(255, 0, 0, 0.5);
        color: rgba(0, 0, 255);
    }
    .sample.element-4 {
        background-color: lightgreen;
        color: transparent;
    }
    
</style>
