<p>
    Display is used to hide elements and to make them inline or blocks.
    <br/>
    <a href="http://lmgtfy.com/?q=css+display&l=1" target="_blank">View in W3Schools</a>
    <br/>   
    <br/>
    Common Usage:
    <pre>
display: none;
display: block;
display: inline;</pre>
</p>
<style>
   .sample.element {
    }
    
    .sample.element-1 {
        display: block;        
    }
    .sample.element-2 {
        display: inline;
    }
    .sample.element-3 {
        display: inline;
    }
    .sample.element-4 {
        display: none;
    }
    
</style>
