<p>
    Clone elements, add and remove them
    <br/>
    <a href="http://lmgtfy.com/?q=jquery+clone&l=1" target="_blank">View in W3Schools</a>
    <br/>
    <br/>
    Common Usage:
    <pre>
$(".some-elem").clone();
$(".some-elem").before("some-html");
$("some-html").insertBefore(".some-elem");
$(".some-elem").after("some-html");
$("some-html").insertAfter(".some-elem");
$(".some-content-elem").append("some-html");
$("some-html").appendTo(".some-content-elem");
$(".some-content-elem").prepend("some-html");
$("some-html").prependTo(".some-content-elem");
$(".some-elem").remove();
</pre>
<br/>
<label for="show-answer">(show/hide answer)</label>
<input id="show-answer" type="checkbox"/>
<pre>
var selector = ".page-container-practice .thumbnail";
$(selector).click(function() {
  $(this).clone().insertAfter($(this)).find('.element').html('new');
});
$('.page-container-practice .btn-reset').click(function() {
  _([1,2,3,4]).forEach(function(i) {
    var spare = _.tail($(selector + '.thumbnail-' + i));
    if (spare.length) {
      $(spare).remove();
    }
  })
});
</pre>

</p>
<script>
  $(function() {
    var selector = ".page-container-sample .thumbnail";
    $(selector).click(function() {
      $(this).clone().insertAfter($(this)).find('.element').html('new');
    });
    $('.page-container-sample .btn-reset').click(function() {
      _([1,2,3,4]).forEach(function(i) {
        var spare = _.tail($(selector + '.thumbnail-' + i));
        if (spare.length) {
          $(spare).remove();
        }
      })
    });
  });
</script>
