<p>
    Use the float property make the element stick to a irection without size considiration
    <br/>
    <a href="http://lmgtfy.com/?q=css+float&l=1" target="_blank">View in W3Schools</a>
    <br/>
    <br/>
    Common Usage:
    <pre>
float: none;
float: left;
float: right;
clear: both;
</p>
<style>
   .element {
       margin: 0;
       padding: 10px;
       display: block;
       width: 80px;
       height: 80px;
    }
    
    .sample.element-1 {
        float: left;
    }
    .sample.element-2 {
        float: right;
        clear: both;
    }
    .sample.element-3 {
        float: left;
    }
    .sample.element-4 {
        float: right;
    }
    
</style>
