<p>
    Font styling has many properties, similar to any text proccessor
    <br/>
    <a href="http://lmgtfy.com/?q=css+font&l=1" target="_blank">View in W3Schools</a>
    <br/>
    <br/>
    Common Usage:
    <pre>
font-size: 14px;
font-family: arial, sans-serif;
font-weight: bold;
font-style: italic;
font-variant: small-caps;
</pre>
</p>
<style>
   .element {
       width: 100%;
       height: 50px;
       display: block;
       line-height: 50px;
    }
    
    .sample.element-1 {
        font-size: 30px;
        font-style: italic;
        font-weight: normal;        
    }
    .sample.element-2 {
        font-size: 20px;
        font-weight: bold;
    }
    .sample.element-3 {
        font-size: 20px;
        font-family: "Times New Roman", Times, serif;
        font-weight: 100;
    }
    .sample.element-4 {
        font-size: 30px;
        font-variant: small-caps;
    }
    
</style>
