<p>
    Use the overflow property to determine what happens when the content is larger than the size
    <br/>
    <a href="http://lmgtfy.com/?q=css+overflow&l=1" target="_blank">View in W3Schools</a>
    <br/>
    <br/>
    Common Usage:
    <pre>
overflow: auto;
overflow: visible;
overflow: hidden;
overflow: scroll;
overflow-x: hidden;
overflow-y: scroll;
</p>
<style>
   .element {
       margin: 10px;
       padding: 10px;
       display: block;
       width: 80px;
       height: 40px;
    }
    
    .sample.element-1 {
        overflow: auto;
    }
    .sample.element-2 {
        overflow: hidden;
    }
    .sample.element-3 {
        overflow: visible;
    }
    .sample.element-4 {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
</style>
