<p>
    Position is used to choose or the element will be positioned in the screen
    <br/>
    <a href="http://lmgtfy.com/?q=css+position&l=1" target="_blank">View in W3Schools</a>
    <br/>
    <br/>
    Common Usage:
    <pre>
position: relative;
position: fixed;
position: absolute;

top: 0px;
left: 0px;
right: auto; (default)
bottom: auto; (default)

z-index: 1;
</pre>
</p>
<style>
   .element {
       width: 100px;
       height: 50px;
       display: block;
    }
    
    .sample.element-1 {
        position: relative;
    }
    .sample.element-2 {
        position: absolute;
        top: 0;
        right: 0;
    }
    .sample.element-3 {
        position: absolute;
        bottom: 40px;
        left: 10px;
    }
    .sample.element-4 {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 100;
    }
    
</style>
