<p>
    Use Width and Height properties to set exact size for elements<br/>
    Notice that the display must be block
    <br/>
    <a href="http://lmgtfy.com/?q=css+width+and+height&l=1" target="_blank">View in W3Schools</a>
    <br/>
    <br/>
    Common Usage:
    <pre>
display: block;
width: 50%;
height: 100px;
width: calc(100% - 50px);
height: auto; (default)</pre>
</p>
<style>
   .element {
       padding: 10px;
       display: block;
       overflow: hidden;
    }
    
    .sample.element-1 {
        width: 150px;
        height: 50px;
    }
    .sample.element-2 {
        width: 50%;
        height: 50px;
    }
    .sample.element-3 {
        width: calc(100% - 50px);
        height: auto;
    }
    .sample.element-4 {
        width: 20px;
        height: 10px;
    }
    
</style>
