<p>
    Text styling has many properties, similar to any text proccessor
    <br/>
    <a href="http://lmgtfy.com/?q=css+text&l=1" target="_blank">View in W3Schools</a>
    <br/>
    <br/>
    Common Usage:
    <pre>
text-align: left;
text-align: center;
text-align: right;

line-height: 50px;

text-decoration: underline;
text-decoration: line-through;
text-decoration: none;

text-transform: uppercase;
text-transform: capitalize;

direction: ltr;
direction: rtl;
</pre>
</p>
<style>
   .element {
       width: 100%;
       height: 50px;
       display: block;
    }
    
    .sample.element-1 {
        text-align: left;
        text-transform: uppercase;
        text-decoration: underline
    }
    .sample.element-2 {
        text-align: right;
    }
    .sample.element-3 {
        text-align: center;
        line-height: 50px;
    }
    .sample.element-4 {
        text-align: left;
        text-decoration: line-through;
    }
    
</style>
